:root {
  --header-height: 80px;
  --max-width: 1200px;
  --primary-color: #111;
  --secondary-color: #1233;
  /* màu nền */
  --primary-color-1: #01061a;
  /* màu chữ */
  --primary-color-2: #f5f3f8;
  --primary-color-3: #ff0e83;
}

